/* stylelint-disable media-feature-range-notation */
.buttons-bar {
	display: flex;
	margin-top: 16px;
}

.buttons-bar > div:first-child {
	margin: 0;
}

.buttons-bar > div:last-child {
	margin: 0;
}

@media screen and (max-width: 600px) {
	.buttons-bar {
		justify-content: center;
	}
}
